* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
:root {
  --purple: #3d4ff3;
  --gray: #3c3c3c;
  --text-white: #fff;
  --background: #fff9f4;
  --orange: #fa804c;
  --dark-balue: #363958;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header-section */
header {
  background: var(--background);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li a {
  margin-right: 55px;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray);
}

nav > .logo {
  width: 290px;
}

/* Hero-section */
.hero-section {
  padding: 42px 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .left img {
  height: 400px;
  width: 400px;
}

.hero-section .right h2 {
  color: var(--orange);
  font-weight: bold;
  font-size: 80px;
}
.hero-section .right h2 span {
  color: var(--dark-balue);
}
