* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: #e5e5e5; */
}
:root {
  --purple: #3d4ff3;
  --gray: #3c3c3c;
  --text-white: #fff;
  --background: #fff9f4;
  --orange: #fa804c;
  --dark-balue: #363958;
  --img-bg: #f1f1f1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background: var(--purple);
  padding: 18px 33px;
  border-radius: 10px;
  display: inline-block;
  color: var(--text-white);
  text-decoration: none;
}
/* Header-section */
header {
  background: var(--background);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li a {
  margin-right: 55px;
  text-decoration: none;
  font-size: 16px;
  color: var(--gray);
}

nav > .logo {
  width: 290px;
}

/* Hero-section */
.hero-section {
  padding: 50px 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .left img {
  height: 400px;
  width: 400px;
}

.hero-section .right h2 {
  color: var(--orange);
  font-weight: bold;
  font-size: 80px;
}
.hero-section .right h2 span {
  color: var(--dark-balue);
}
.hero-section .right p {
  margin: 8px 0;
  font-size: 16px;
  color: var(--gray);
}

/* Casul Shoes */
.casul-shoes {
  padding: 50px 0;
}
.casul-shoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.shoe {
  box-shadow: 1px 1px 2px 1px rgb(243, 237, 237);
  border-radius: 10px;
  padding: 23px 15px;
  width: 370px;
  align-items: center;
  justify-content: center;
}

.casul-shoes-container .shoe img {
  width: 339px;
  height: 337px;
  background: var(--img-bg);
  border-radius: 10px;
}

.casul-shoes-container .shoe h2 {
  color: var(--gray);
  padding: 12px 0;
  font-weight: bold;
  font-size: 24px;
}
.casul-shoes-container .shoe .shoe-content {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.casul-shoes-container .shoe .shoe-content p {
  font-size: 36px;
  font-weight: bold;
  color: var(--orange);
}
/* Formal shoes */
.formal-shoes {
  padding: 80px 0px;
}
.formal-shoes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.formal-shoes-container .f-shoe {
  padding: 23px 15px;
  border-radius: 0.5rem;
  box-shadow: 0.1px 1px 1px 1px rgb(243, 234, 234);
}

.formal-shoes-container .f-shoe h2 {
  font-size: 24px;
  padding: 15px 0px;
  color: var(--dark-balue);
}
.formal-shoes-container .f-shoe p {
  padding: 10px 0px;
  font-size: 16px;
  color: var(--dark-balue);
}
.formal-shoes-container .f-shoe img {
  border-radius: 10px;
  width: 330px;
  height: 327px;
}
.formal-shoes-container .f-shoe .f-shoe-content {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formal-shoes-container .f-shoe .f-shoe-content p {
  font-size: 36px;
  color: var(--orange);
  font-weight: bold;
}
/* Footer_section */
footer {
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .left img {
  width: 78px;
  height: 80px;
}
footer .right img {
  width: 599px;
  height: 350px;
}

footer .left .box {
  border-radius: 10px;
  padding: 20px 25px;
  gap: 35px;
  background-color: #fff9f4;
  margin: 0.9rem;
  display: flex;
  align-items: center;
}

footer .left .box h2 {
  padding: 10px 0px;
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-balue);
}
footer .left .box p {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-balue);
}
